main {
  display: grid;
  grid-template-rows: auto 1fr 2fr 1fr;
  grid-template-areas: 
    'header header'
    'loan-setting loan-setting'
    'rcf-calculator bl-calculator'
    'footer footer'
  ;
  gap: 10px;
  justify-content: stretch;
  height: 99vh;
}

header {
  grid-area: header;
}

#loan-setting {
  grid-area: loan-setting;
  justify-content: center;
  align-content: end;
}

#rcf-calculator {
  grid-area: rcf-calculator;
}
#bl-calculator {
  grid-area: bl-calculator;
}

footer {
  align-self: end;
}

input[type=number] {
  text-align: end;
}

section.disabled {
  background-color: rgb(227, 227, 227);
  color: rgb(109, 109, 109);
}