article {
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  justify-items: center;
  justify-content: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

